# Entorno virtual
.venv/

# Archivos temporales de VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de prueba/temporales
*.tmp
*.log
*.mmd

# Carpeta de imágenes de datos (no subir al repositorio)
data/JPEGImages/*
data/Annotations/*
!data/JPEGImages/.gitkeep
!data/Annotations/.gitkeep
output/